<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS and remove www
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ https://api.ashanhimantha.com%{REQUEST_URI} [L,R=301,NE]

    # Laravel URL Rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS, PATCH"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# Disable directory listing
Options -Indexes

# Hide sensitive files
<FilesMatch "\.(env|json|config.js|md|gitignore|gitattributes|lock|example)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Block artisan file if it's somehow exposed
<Files "artisan">
    Order allow,deny
    Deny from all
</Files>

# Allow image files
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
